{#
/**
 * @file
 * Default theme implementation to display a formatted social link field.
 *
 * Available variables:
 * - links: A collection of social networks links data.
 *   - text: Social link text/icon.
 *   - url: Social network profile link.
 *   - title: Social network name.
 * - new_tab: Is need to open a new tab.
 * - appearance: Parameters tha are responsible of appearance.
 *   - orientation: Orientation of links list.
 */
#}

{%
set classes = [
'social-link-field',
appearance.orientation,
]
%}

{% apply spaceless %}
  {% if links %}
    <ul {{ attributes.addClass(classes) }}>
      {% for link in links %}
      {% for platform in platforms %}
        <li>
          <a href="{{ platform.url }}" {{ platform.attributes }} aria-label="{{ platform.name }}">
            {% if platform.image %}
              <img src="{{ file_url(platform.image) }}" alt="{{ platform.name }}" class="social-icon">
            {% else %}
              {{ platform.element }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endapply %}
