
{% set classes = [
  'article-preview',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
<article{{ attributes.addClass(classes) }} data-nid="{{ node.id }}">

  <div class="article-date">
    <span class="month">{{ node.field_date.value|date('M')|upper }}</span>
    <span class="day">{{ node.field_date.value|date('d') }}</span>
    <span class="year">{{ node.field_date.value|date('Y') }}</span>
  </div>


  <div class="article-meta-category">
    <div class="article-meta-category-block">
      <span class="article-author-label">Writer</span>
      <span class="article-author">{{ content.field_writer }}<div class="article-author-slash">/</div></span>
      <span class="article-category">{{ content.field_category_news }}</span>
    </div>
  </div>


  <div {{ title_attributes.addClass('article-title') }}>{{ label }}</div>


  <div class="article-content">
    <div class="article-meta">
      {% if content.field_image_media %}
        <div class="article-image">
          {{ content.field_image_media }}
        </div>
      {% endif %}
    </div>
    <div class="article-info">
      {{ content.body }}
    </div>
  </div>

</article>

