{% set category = content.field_category[0]['#plain_text']|clean_class %}
{{ attach_library('bootstrap_barrio/node') }}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}

<article{{ attributes.addClass(classes, 'node--type-' ~ node.bundle|clean_class) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {% if view_mode == 'full' %}
      <div class="node-title-block">
        {% if label %}
          <h2{{ title_attributes.addClass('node__title') }}>
            {{ label }}
          </h2>
        {% endif %}
      </div>
    {% endif %}

    <div class="node-content">
      {{ content|without('field_category') }}
      {% if content.field_category %}
        <div class="field field--name-field-category field--type-entity-reference field--label-hidden field__item category-{{ category }}">
          {{ content.field_category }}
        </div>
      {% endif %}
    </div>
  </div>
</article>
