<div class="article-preview" data-nid="{{ fields.nid.content }}">
  <div class="article-date">
    <span class="month">{{ fields.field_date.content|date('M')|upper }}</span>
    <span class="day">{{ fields.field_date.content|date('d') }}</span>
    <span class="year">{{ fields.field_date.content|date('Y') }}</span>
  </div>
  <div class="article-content">
    <div class="article-meta">
      {% if fields.field_image_media.content %}
        <div class="article-image">
          {{ fields.field_image_media.content }}
        </div>
        <div class="article-meta-category">
          <div class="article-meta-category-block">
            <span class="article-author-label">Writer</span>
            <span class="article-author">{{ fields.field_writer.content }} /</span>
            <span class="article-category">{{ fields.field_category_news.content }}</span>
          </div>
          <div class="time-ago">
            <span>{{ fields.created.content }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="article">
      <div class="article-info">
        <div class="article-summary">
          <h2 class="article-title">{{ fields.title.content }}</h2>
          <div class="body-content">
            <div class="body-short">{{ fields.body.content }}</div>
          </div>
        </div>
        <div class="read-more">
          {{ fields.view_node.content }}
        </div>
      </div>
    </div>
  </div>
</div>
