<ul{{ attributes.addClass('menu') }}>
  {% for item in items %}
    <li{{ item.attributes.addClass(item.in_active_trail ? 'active' : '') }}>
      <a href="{{ item.url }}">
        {% if item.fields.menu_image.content is not empty %}
          <img src="{{ file_url(item.fields.menu_image.content.entity.fileuri) }}" alt="{{ item.title }}" />
        {% else %}
          {{ item.title }}
        {% endif %}
      </a>
      {% if item.below %}
        {{ item.below }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

